.language-toggler{
 	padding: 0 10px;

    .language-toggler__dropdown {

        ul.submenu {
            position: absolute;
            top:100%;
            left: 10px;
            z-index: 10;
            list-style: none;
            width: max-content;
            padding: 0;
            border-bottom: 1px solid var(--border);
            box-shadow: 0 0 3px rgba(0,0,0,0.4);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            transform: translate(0,-10%);

            a{
                display: block;
                padding: 10px;
                font-size: var(--small);
                &:hover{
                    background-color:var(--bg-light);
                }
            }
        }

        .current-language::after {
            content: "";
            border-top: 5px solid indianred;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: calc(50% - 2.5px);
            left: calc(100% + 5px);
        }

        label{ font-weight: bold;}

        a {
            text-decoration: none;
            color: inherit;

            img {
                padding-right: 5px;
            }
        }
    }


    &:hover{
        ul.submenu{
            pointer-events: auto;
            transform: translate(0);
            opacity: 1;
        }
    }

}