.language-toggler{
 	padding: 0 10px;

    .language-toggler__dropdown {

        ul.submenu {
            background-color: var(--background);
            position: absolute;
            top:100%;
            left: 10px;
            z-index: 10;
            list-style: none;
            width: max-content;
            padding: 0;
            border-bottom: 1px solid var(--border);
            box-shadow: 0 0 3px rgba(0,0,0,0.4);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            transform: translate(0,-10%);

            a{
                padding: 10px;
                font-size: var(--small);
                &:hover{
                    background-color:var(--bg-light);
                }
            }
        }

        .current-language::after {
            content: "";
            border-top: 5px solid indianred;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            display: inline-block;
            margin-top:5px;
        }

        label.current-language {
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
            gap:5px;
        }
    }


    &:hover{
        ul.submenu{
            pointer-events: auto;
            transform: translate(0);
            opacity: 1;
        }
    }

}