/** shoping methods section **/
.shopping-methods > div {
	flex: 1;
	min-width: 300px;
	padding: 30px 10px;

    p{
        font-size: var(--small);
    }
}

.section-image-slider{
    
    .superblockslider__controls {
        height: 48px;
        bottom: 5px;
        transform: none;
        width: 100px;
        right: 0;
        top: unset;

        button{

            padding: 0;
            & > span {
                background: var(--background);
                opacity: 1;
                position: relative;
                display: inline-block;
                padding: 8px 16px;
                border: 1px solid var(--link-color);
                box-sizing: border-box;
                margin-right: 7px;
                aspect-ratio: 1/1;
                color: var(--link-color);
    
                svg { display: none; }
                
                &:hover {
                    color: var(--background);
                    background: var(--link-color);
                    transition: all 0.3s;
                }
    
                &::before {
                    font-size: var(--small);
                    font-weight: bold;
                    color: inherit;
                }
                &.superblockslider__button__previous--icon::before{content: "<";}
                &.superblockslider__button__next--icon::before{content: ">";}
            }
        } 
    }

}

// buttons
.wp-element-button,
.wp-block-button__link,
.btn,
a.btn,
.btn:visited,
.btn:active,
button,
.product-item .wc-block-components-product-button__button,
button.wp-block-button__link
{
    
    border: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
    font-size: var(--normal);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    background: var(--primary-color);
    text-decoration: none;

    &.btn-primary{
        background-color: var(--primary-color);
        &:hover { background-color: var(--primary-hover); }
    }
    
    &.btn-secondary {
        background: var(--secondary-color);
        &:hover { background-color: color-mix(in oklab, var(--secondary-color) 80%, transparent); }
    }

    &.btn-tertiary {
        background: var(--tertiary-color);
        &:hover { background-color: color-mix(in oklab, var(--tertiary-color) 80%, transparent); }
    }

    svg{fill:var(--background)};

}

.btn-primary{
    .wp-element-button {
        background-color: var(--primary-color);
        color: white;
        &:hover { background-color: var(--primary-hover); }
    }
}
.btn-secondary{
    .wp-element-button {
        background: var(--secondary-color);
        &:hover { background-color: color-mix(in oklab, var(--secondary-color) 80%, transparent); }        
    }
}
.btn-tertiary{
    .wp-element-button {
        background: var(--tertiary-color);
        &:hover { background-color: color-mix(in oklab, var(--tertiary-color) 80%, transparent); }
    }
}

.wc-block-product-filter-price-slider__range div.range-bar {
	background: var(--primary-color);
}

.wp-block-query-pagination.is-content-justification-center.is-layout-flex.wp-block-query-pagination-is-layout-flex{

    span {
        padding: 10px;
    }
    
    a {
        color: var(--primary-color);
        text-decoration: none;
        padding: 10px;
    }
} 

.category-tile {

    .wp-block-cover__inner-container {
        padding: 20px;
        p{
            margin: 0;
        }
    }
}

.medlight-social-share {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--link-color);

    svg{
        fill:var(--primary-color);
    }
}

.breadcrumbs-row {
	gap: 5px;
	align-items: center;

    & > div {
        padding: 0;
        margin-block: 16px;

        a{
            color:var(--text-color);
        }
    }
}

.wp-block-woocommerce-product-review-form {
    span.comment-reply-title {
	    font-size: var(--medium);
        line-height: 3em;
    }
    
    .comment-form-rating {
        display: flex;
        gap: 20px;

        .stars svg {
            display: block;
            height: 21px;
        }
    }
}

.wp-block-woocommerce-accordion-item {
	background: var(--color-headers-background);
	padding: 20px;
	border: 1px solid var(--border-color);
	border-radius: 1px;
    transition: all 0.3s;

    &.is-open{
        box-shadow: var(--selected-box-shadow);
    }
}

.decorated-title{

    &::after {
        content: "";
        display: block;
        position: absolute;
        background: var(--secondary-color);
        height: 2px;
        width: 50%;
        transition: all 1 0.3s;
    }
    &.visible::after{width: 100%;}
}


.wp-block-query-pagination {
    & > span, a {
        padding: 10px;
    }

}

.rounded-border{
	border-radius: var(--rounded-radius);
	overflow: hidden;
}

/** comment form **/
#comment {
	margin-top: 10px;
	padding: 10px;
}

/** fix MUI **/
.MuiModal-hidden{pointer-events: none;}

/** fix wc mini-cart icon **/
.wc-block-mini-cart__icon {
	fill: var(--text-color);
}

.wpcf7-form{

    label {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        
        span{
            flex:1;

            input, textarea {
                border: 1px solid var(--border-color);
                padding: 12px;
                border-radius: 4px;
            }
        }
    }
}