
@import "variables";

:root{
	--font-size-base: clamp(0.875rem, 0.75rem + 0.6vw, 1.125rem);
	--font-family-base: "Inter", sans-serif;

	--primary-color: #0a5d5d;
	--primary-hover: #082e21;
	--secondary-color: #ff8749;
	--secondary-hover: #a55200;
	--tertiary-color: #680000;
	--tertiary-hover: #3d0101;
	--background:#ffffff;
	--bg-light:#f5f5f5; /*#f9fbfd;*/
	--foreground: #12171a;
	--text-color:  #222222;
	--text-light: #757575;
	--link-color: #ff8749;
	--border-color:oklch(.92 .01 240);
	--border-dark:rgba(34, 34, 34,0.3);
	--selected-box-shadow:10px 10px 15px rgba(0, 0, 0, 0.1019607843);

	/* Relative sizes based on --normal */
	--xsmall: 0.65rem;   /*  */
	--small: 0.875rem;   /*  */
	--normal: 1rem;       /* 16px */
	--medium: 1.125rem;  /* 18px */
	--large: 1.25rem;     /* 20px */
	--xlarge: 1.75rem;    /* 24px */
	--xxlarge: 2.25rem;     /* 32px */
	--xxxlarge: clamp(2.5rem, 2rem + 2vw, 4rem);     /* 36px */

	--mobile-screen-limit: 600px;
	--tablet-screen-limit: 1200px;

	/* Optional: line-height scale */
	--line-height-base: 1.625;
	--line-height-tight: 1.2;
	--line-height-loose: 1.75;

	--spacing: 0.25rem;

	/** breakpoints */
	--bp-mobile: $bp-mobile;
	--bp-tablet: $bp-tablet;
	--bp-laptop: $bp-laptop;
	--bp-desktop: $bp-desktop;

	/** menu height **/
    --menu-offset: 85px;
	--rounded-radius: 10px;
}

body.admin-bar {
    --menu-offset: 115px;
}