#footer {
	background: var(--foreground);
	list-style: none;
	scroll-snap-align: start;

	*{
		color: color-mix(in oklab, var(--background) 80%, transparent);
	}

	h1, h2, h3, h4{
		color: var(--background );
	}

	.footer-sidebar{ flex:1; }

	#footer-content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 32px;
		gap: 40px;
		flex-direction: column;

	}

	#footer li {
		line-height: 1.3;
		padding: 6px 0;
	}

	#copyright {
		padding-top: 32px;
		border-top: 1px solid color-mix(in oklab, var(--background) 20%, transparent);
		font-size: var(--small);
		text-align: center;
	}
	
	ul.wp-block-list li::before {
		display: none;
	}

}

@media (width >= 64rem ){
#footer #footer-content {
	flex-direction: row;
}
}