/* Define font styles using the Manrope font with different weights */
.inter-regular {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-bold {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.inter-light {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

*{ position: relative;}


/**
* General Rulel
*/
body, html {
  height: auto;
  overflow-y: auto;     /* let the whole page scroll */
  scroll-behavior: smooth;
}
*{ 
    position:relative;
    font-family: var(--font-family-base);
}

body{
    width: 100vw;
    background-color: var(--bg-color);
}

#wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#container {
	flex: 1;
	overflow-Y: auto;
	max-height: 100vh;
	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; /* ios momentum */
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.wrapper{
    padding:0 15px;
    width:100%;
    max-width: 1200px;
    margin: auto;
}


.bg-overlay {
	background-color: #0F1F44;
	opacity: 0.6;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


section {
	padding: 40px 0;
}

.scroll-down-pointer::after {
	content: "0";
	position: absolute;
	bottom: 4%;
	color: rgba(162, 162, 162, 1);
	border: 2px solid;
	padding: 1px 7px 14px;
	border-radius: 40%;
	animation: bounce 1s infinite;
}

.btn,
.btn:visited,
.btn:active{
	border: none;
	padding: 10px 15px;
	display: inline-block;
	border-radius: calc(var(--radius) - 2px);
	font-size: var(--normal);
	box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn.btn-primary{
	background-color: var(--primary-color);
	color: white;
}
	.btn.btn-primary:hover { background-color: var(--primary-hover); }

.btn.btn-alt {
	background: var(--background);
}
	.btn.btn-alt:hover { background-color: color-mix(in oklab, var(--background) 80%, transparent); }

.search-option {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.search-option > i {
    padding: 0 15px;
    vertical-align: middle;
    color: var(--border-color);
    font-size: var(--medium);
}

.more-btn-container {
	text-align: center;
	margin-top: 15px;
}

/** step section **/
.step-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: calc(var(--spacing) * 32);
	scroll-snap-align: start;
}

/** card containers **/
.card {
	padding: calc(var(--spacing) * 8 + 20px ) calc(var(--spacing) * 8);
	transition-property: box-shadow;
	transition-duration: 300ms;
	transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	border: 1px solid var(--border-color);
	border-radius: calc(0.25rem + 4px);
}
	.card:hover { box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px }

/** icon container **/
.icon-container {
	border-radius: calc(infinity * 1px);
	background: color-mix(in oklab, var(--primary-color) 10%, transparent);
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--spacing) * 12);
	height: calc(var(--spacing) * 12);
	padding: 10px;

	
	*{
		color: var(--primary-color);
	}
	
	svg {
		width: 100%;
		aspect-ratio: 1 / 1;
		display: block;
	}
}

.large .icon-container{
	width: 64px;
	height: 64px;

	svg{ width:32px; }
}

/** grid layout **/
.is-layout-grid {
	gap: calc(var(--spacing) * 8);
	grid-template-columns: auto;

}

.bg-light{
	background-color: var(--bg-light);
}

/** grid layout block **/
.wp-block-group__inner-container.is-layout-constrained.wp-block-group-is-layout-constrained {
	width: 100%;
}

@media only screen and (min-width:800px){
    section {
        padding: 75px 0;
    }
    .more-btn-container {
        margin-top: 30px;
    }
    .wrapper{
        padding:0 20px;
    }    
}