/* Define font styles using the Manrope font with different weights */
.inter-regular {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.inter-bold {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.inter-light {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

*{ position: relative;}


/**
* General Rulel
*/
body, html {
  height: auto;
  overflow-y: auto;     /* let the whole page scroll */
  scroll-behavior: smooth;
}
*{ 
    position:relative;
    font-family: var(--font-family-base);
}

body{
    width: 100vw;
    background-color: var(--bg-color);
}

#wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}



.bg-overlay {
	background-color: #0F1F44;
	opacity: 0.6;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


section {
	padding: 40px 0;
}

.search-option {
    flex:1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.search-option > i {
    padding: 0 15px;
    vertical-align: middle;
    color: var(--border-color);
    font-size: var(--medium);
}

.more-btn-container {
	text-align: center;
	margin-top: 15px;
}

/** step section **/
.step-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-block: calc(var(--spacing) * 32);
	scroll-snap-align: start;
}

/** card containers **/
.card {
	padding: calc(var(--spacing) * 8 + 20px ) calc(var(--spacing) * 8);
	transition-property: box-shadow;
	transition-duration: 300ms;
	transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
	border: 1px solid var(--border-color);
	border-radius: calc(0.25rem + 4px);
}
	.card:hover { box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px }

/** grid layout **/
.is-layout-grid {
	gap: calc(var(--spacing) * 8);
}

.bg-light{
	background-color: var(--bg-light);
}

/** grid layout block **/
.wp-block-group__inner-container.is-layout-constrained.wp-block-group-is-layout-constrained {
	width: 100%;
}

#container{
	padding: 40px 10%;
}

@media only screen and (min-width:800px){
    section {
        padding: 75px 0;
    }
    .more-btn-container {
        margin-top: 30px;
    }
    .wrapper{
        padding:0 20px;
    }    
}