@import "variables";

// Base hidden class
.hide {
  display: none;
}

@media (min-width: $bp-tablet) {
  .hide-from-tablet {
    display: none;
  }
}

@media (min-width: $bp-laptop) {
  .hide-from-laptop {
    display: none;
  }
}

@media (max-width: $bp-tablet - 1) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: $bp-tablet) and (max-width: $bp-laptop - 1) {
  .hide-tablet {
    display: none;
  }
}

@media (min-width: $bp-laptop) and (max-width: $bp-desktop - 1) {
  .hide-laptop {
    display: none;
  }
}

@media (min-width: $bp-desktop) {
  .hide-desktop {
    display: none;
  }
}
