.product-items{

    /** list layout specific */
    &.is-product-collection-layout-list{
        li.wc-block-product {
            display: flex;
            gap: 20px;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid var(--border-color);
            border-radius: 1px;
            align-items: center;
            transition: all 0.3s;
            flex-wrap: wrap;

            
            &:hover{box-shadow:10px 10px 15px #0000001a;}
            
            .product-image-section{
                flex: 1;
                min-width: 200px;
                max-height: 265px;

                .wc-block-grid__product-image {
                    overflow: hidden;
                    height: 100%;
                
                    & > a{
                        display: block;
                        height: 100%;
    
                        img{
                            object-fit: cover;
                            height: 100%;
                            object-position: center;
                            max-height: 265px;
                        }
                    }
                }
            }

            .product-details-section {
                box-sizing: border-box;
                flex: 2;
                min-width: 250px;
                
                h3.wp-block-post-title{
                    text-align: left;
                }

                .wc-block-components-product-price {
                    text-align: left;
                }

            }

        }

    }

    /** grid layout specific */
    &:not(.is-product-collection-layout-list){
        .wp-block-woocommerce-product-summary{ display: none;}
        .taxonomy-product_cat{ display: none; }
    }

    li{

        div.product-item_img-buttons {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: 0.3s all;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            padding: 10px;
            margin-top: 0;
            z-index: 2;
        
            button.wc-block-components-product-button__button{
                transform: translateY(20%);
                transition: all 0.3s;
    
                border: 1px solid;
                border-radius: 1px;
                background: var(--primary-color);
                border-color: var(--primary-color);
                color: var(--background);
               
                &:hover{
                    background: var(--primary-hover);
                    border-color: var(--primary-hover);
                }
            }
            &:hover{
                button.wc-block-components-product-button__button{
                    transform: translateY(0);
                }
            }

            a.added_to_cart.wc_forward{display: none;}
            
            &:hover {
                opacity: 1;
                
            }
        }


        .wc-block-grid__product-image{
            overflow: hidden;
            
            a{ pointer-events: none;}   // disable img link

            img{
                transition: 0.3s all;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
            
        }
    
        .price span {
            font-size: var(--small);
        }

        .wp-block-button__link {
            height: max-content;
            background: var(--primary-color);
            &:hover{
                background: var(--primary-hover);
            }
        }
    }

}

select.orderby {
	padding: 10px; 
	background: no-repeat;
	cursor: pointer;

    &:focus{
        border: 1px solid var(--text-light);
        border-radius: 3px;
    }
}

.wc-block-product-filter-checkbox-list__input-wrapper{

    &::before {
        background: var(--background);
        border-radius: 2px;
        content: "";
        height: 18px;
        width: 18px;
        left: 0;
        opacity: 0.3;
        pointer-events: none;
        position: relative;
        top: 0;
        border: 1px solid var(--text-color);
        vertical-align: middle;
        display: inline-block;
    }

    input {
        position: absolute;
        height: 100%;
        width: 100%;
        display: inline-block;
        top: 0;
    }

    svg.wc-block-product-filter-checkbox-list__mark {
        box-sizing: border-box;
        color: var(--wc-product-filter-checkbox-list-option-element-selected,currentColor);
        display: none;
        height: 18px;
        left: 0;
        padding: 0.22em;
        position: absolute;
        top: 12px;
        width: 18px;
    }

}
.wc-block-product-filter-checkbox-list__label{
    line-height: 3;
    cursor: pointer;
}

/* disable image links
.product-item_image > a {
	pointer-events: none;
}*/

.woocommerce-result-count {
	padding-top: 15px;
}

.woocommerce-account{

    .woocommerce-MyAccount-navigation {
        background: var(--bg-light);
        padding: 20px;
    
        li{
            
            a {
                color: var(--text-color);
            }

            &.is-active a{
                text-decoration: underline;
                font-weight: bold;
                text-decoration: navajowhite;
                color: var(--link-color);
            }
        }
    }
} 

.quantity.wc-block-components-quantity-selector {
	height: 46px;
}

/** mini cart sidebar **/
.wp-block-woocommerce-mini-cart-contents{

    .wp-block-woocommerce-mini-cart-title-block.wc-block-mini-cart__title {
        font-size: var(--large);
    }

    .wc-block-mini-cart__footer-actions {
        flex-direction: column;
    }

    .wc-block-components-product-badge {
        display: none;
    }

    .wc-block-cart-item__product{
    
        .wc-block-components-product-metadata {
            display: none;
        }

        .price.wc-block-components-product-price{
            display: none;
        }
    }
    
    tr.wc-block-cart-items__row{
        display: grid;
        grid-template-columns: 117px 132px;
        padding: 16px 0;
        font-size: 14px;
        text-decoration: none;
    }
}

/** fix for wc star rating **/
.wp-block-woocommerce-product-review-rating * {
	font-family: Woocommerce !important;
}

/** style variation option buttons **/
label.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill {
	border: 1px solid var(--primary-hover);
	padding: 5px 20px;
	border-radius: 4px;
	width: auto;
	display: inline-block;
	color: var(--primary-hover);
    
    &:has(.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill-input:checked){
        background-color: var(--primary-color);
        color: var(--background);
    }
}


/** swatches **/
label.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill.has-swatch{

    height: 80px;
    width: auto;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    
    img.medlight-swatch-img {
        height: 60px;
        width: 60px;
        object-fit: contain;

    }
}