.megamenu-element {
    

    & > .block-editor-inner-blocks {
        box-shadow: 0 2px 4px rgba(0,0,0,.4);
        left: 0;
        position: fixed;
        top: 74px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
    }
}