.megamenu-element {

    .megamenu-label {
        padding: 0;
        margin: 0;
        a {
            padding: 20px 0;
            text-decoration: none;
            color: var(--text-color);
        }
        
        &.current-page::after {
            content: "";
            position: absolute;
            display: block;
            width: 60%;
            height: 2px;
            top: calc(100% + 5px);
            background: var(--link-color);
            left: 20%;
        }
    }
    .submenu {
        box-shadow: 0 4px 4px rgba(0,0,0,.4);
        left: 0;
        padding: 20px;
        position: fixed;
        top: var(--menu-offset); 
        width: 100%;
        z-index: 100;
        transition: 0.3s all;
        background: var(--background);
        opacity: 0;
        pointer-events: none;
        transform: translate(0,10px);
    }

    &:hover{
        .submenu{
            transform: translate(0,-10px);
            opacity: 1;
            pointer-events: all;
        }
    }
}

