.menu-toggler{

    height: 14px;
    width: 18px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &::before, &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all .3s ease;
        background-color: var(--foreground);
    }

    &::after {
        bottom: 0;
    }

    .icon-directional {
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--foreground);
        position: relative;
        transition: background-color .3s ease
    }

    &.act{
        &::before {
            transform: rotate3d(0,0,1,45deg);
            top: 5px;
        }

        &::after {
            transform: rotate3d(0,0,1,-45deg);
            bottom: 7px;
        }

        .icon-directional {
            background-color: transparent;
        }
    }

}

.mobile-menu-drawer{

    display: none;

    &.open{
        display: block;
        position: fixed;
        left: 0;
        background: rgba(95,95,95,0.35);
        width: 100%;
        height: 100%;
        top:88px;
        z-index: 6;
    
        .MuiPaper-root{
            width: 250px;
            height: calc(100% - 88px);
            overflow: auto;   
            background: var(--background);

            & > .block-editor-inner-blocks {
                height: 100%;
                
                & > .block-editor-block-list__layout {
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
    
        }
    }
}