<!-- wp:template-part {"slug":"header","theme":"medlight","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="container" class="wp-block-group"><!-- wp:medlight/wrapper {"maxWidth":"1200px"} -->
<!-- wp:template-part {"slug":"page-title-center","theme":"medlight","area":"uncategorized"} /-->

<!-- wp:post-content /-->
<!-- /wp:medlight/wrapper --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medlight","tagName":"footer"} /-->