<!-- wp:template-part {"slug":"header","theme":"medlight","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:medlight/wrapper {"maxWidth":"1200px"} -->
<!-- wp:template-part {"slug":"page-title-center","theme":"medlight","area":"uncategorized"} /-->

<!-- wp:post-featured-image {"height":"500px","className":"article-featured-image","style":{"border":{"radius":"10px"}}} /-->

<!-- wp:post-title {"textAlign":"left","className":"article-title","style":{"spacing":{"padding":{"top":"24px","bottom":"24px"}}}} /-->

<!-- wp:post-content /-->

<!-- wp:group {"className":"article-footer","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group article-footer"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date /-->

<!-- wp:paragraph -->
<p>-</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name /--></div>
<!-- /wp:group -->

<!-- wp:shortcode -->
[medlight_social_share]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"Related posts section"},"className":"related-posts-section","layout":{"type":"constrained"}} -->
<section class="wp-block-group related-posts-section"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"left","className":"text-xlarge decorated-title"} -->
<h2 class="wp-block-heading has-text-align-left text-xlarge decorated-title">Related Posts</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:medlight/related-posts-slider /--></section>
<!-- /wp:group -->
<!-- /wp:medlight/wrapper --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"medlight","tagName":"footer","lock":{"move":true,"remove":true}} /-->