.menu-toggler{

    height: 14px;
    width: 18px;

    &::before, &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all .3s ease;
        background-color: var(--foreground);
    }

    &::after {
        bottom: 0;
    }

    .icon-directional {
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--foreground);
        position: relative;
        transition: background-color .3s ease
    }

    &.act{
        &::before {
            transform: rotate3d(0,0,1,45deg);
            top: 5px;
        }

        &::after {
            transform: rotate3d(0,0,1,-45deg);
            bottom: 7px;
        }

        .icon-directional {
            background-color: transparent;
        }
    }
}