.megamenu-element {

    .submenu {
        box-shadow: 0 4px 4px rgba(0,0,0,.4);
        left: 0;
        padding: 20px;
        position: fixed;
        top: 36px;  /** TODO: remove 32px for */
        width: 100%;
        z-index: 99;
        transition: 0.3s all;
        background: var(--background);
        transform: translate(0,10px);
        opacity: 0;
        pointer-events: none;
    }

    &:hover{
        .submenu{
            transform: translate(0);
            opacity: 1;
            pointer-events: all;
        }
    }
}

body.logged-in{
    .megamenu-element{
        .submenu{
            top:68px;
        }
    }
}